/**
* 通用css样式布局处理
*/

/** 基础通用 **/
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml0 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.m20 {
  margin-left: 20px;
}

.el-dialog:not(.is-fullscreen){
  margin-top: 6vh !important;
  //background-color: #E0F4FF;
  border-radius: 25px;
}
//弹框标题
.el-dialog .el-dialog__header{
  //background-color: #D4ECF9;
  border-radius:25px 25px 0 0 ;
}
////弹框主题设置
.el-dialog .el-dialog__body{
  //background-color: #E0F4FF;
  //padding: 20px 20px !important;
  //background-color: #E7F0FF;
  //width: 98%;
  // margin-left: 1%;
  //border-radius: 10px;
}
.el-dialog__footer{
  //background-color: #E0F4FF;
  border-radius:0 0  25px 25px;
  //margin-top: -20px;
}
//分页工具样式
//.pagination-container .el-pagination {
//right: 0;
//position: absolute;
//background-color: #E0F4FF;
//width: 100%;
//text-align: right;
//height: 45px;
//}
.app-container .el-form {
  background-color: #E0F4FF;
  margin-top: -10px;
  //margin-left: -5px;
}
//页面中查询条件样式
.app-container .el-form >* {
  margin-top: 10px;
  margin-left: 5px;
  height: 100%;
}
.mb9{
  height: 100%;
  width: 100%;
  margin-left: 0px !important;
}
//页面中按钮样式调整
.mb8{
  background-color: #E0F4FF;
  height: 100%;
  width: 100%;
  margin-left: 0px !important;
}
.mb8 >*{
  //margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

//表格默认高度
.el-table__empty-block{
  min-height:40vh;
}

//行ID为偶数展示背景色
.el-table tbody tr:nth-child(2n) {
  background-color:rgba(224,255,255,1);
}
.el-table.el-table__header{
  //background-color: #00afff;
}
//表格标题
.el-table .el-table__header-wrapper th {
  word-break: break-word;
  //background-color: #f8f8f9;
  background-color: #409EFF !important;
  color: #ffffff;
  //color: #515a6e;
  height: 30px !important;
  font-size: 13px;
}

//表格固定项表头样式调整
.el-table th.is-leaf{
  background-color: #409EFF !important;
  color: white;
  height: 26px;
}
//鼠标滑过样式
//  表格经过
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #FFBD7E !important;
}

.el-table__body tr:hover>td{
  //background-color: #FFBD7E !important;
}

// 如果使用了stripe斑马纹 可能需要加!important
.el-table__body .el-table__row.hover-row td{
  background-color:  #FFBD7E !important;;
}

/*页面中按钮样式*/
.el-button--medium {
  font-size: 18px;
}

//.el-table th.is-leaf, .el-table td{
//  border-right: 1px solid #dfe6ec;
//}

.el-table{
  //margin-left: -5px;
  margin-top: 10px;
}

/** 表单布局 **/
.form-header {
  font-size:15px;
  color:#6379bb;
  border-bottom:1px solid #ddd;
  margin:8px 10px 25px 10px;
  padding-bottom:5px
}

/** 表格布局 **/
.pagination-container {
  //position: relative;
  height: 50px !important;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 10px 20px !important;
  background-color: #E0F4FF !important;

}
//分页工具样式
.pagination-container .el-pagination {
  right: 20px;
  position: absolute;
  background-color: #E0F4FF;
}

.el-table .fixed-width .el-button--mini {
  color: #409EFF;
  padding-left: 0;
  padding-right: 0;
  width: inherit;
}


.el-table .fixed-width .el-button--medium {
  color: #409EFF;
  padding-left: 0;
  padding-right: 0;
  width: inherit;
}


.el-tree-node__content > .el-checkbox {
  margin-right: 8px;
}

.list-group-striped > .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.list-group {
  padding-left: 0px;
  list-style: none;
}

.list-group-item {
  border-bottom: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  margin-bottom: -1px;
  padding: 11px 0px;
  font-size: 13px;
}

.pull-right {
  float: right !important;
}

.el-card__header {
  padding: 14px 15px 7px;
  min-height: 40px;
}

.el-card__body {
  padding: 15px 20px 20px 20px;
}

.card-box {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
}

/* text color */
.text-navy {
  color: #1ab394;
}

.text-primary {
  color: inherit;
}

.text-success {
  color: #1c84c6;
}

.text-info {
  color: #23c6c8;
}

.text-warning {
  color: #f8ac59;
}

.text-danger {
  color: #ed5565;
}

.text-muted {
  color: #888888;
}

/* image */
.img-circle {
  border-radius: 50%;
}

.img-lg {
  width: 120px;
  height: 120px;
}

.avatar-upload-preview {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 0 4px #ccc;
  overflow: hidden;
}

.el-table__body-wrapper{
  max-height: 100%;
  overflow-y: auto;
}

.el-dialog .el-table__body-wrapper{
  max-height: 45vh;
  overflow-y: auto;
}


/* 拖拽列样式 */
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}


//弹框表格组合样式
.orderDialog{
  .el-dialog__header {
    /*padding: 10px 20px 5px 20px;*/
  }

  .el-dialog__body {
    padding: 0px 2px 3px 2px;
  }

  .el-dialog:not(.is-fullscreen) {
    /*margin-top: 2vh !important;*/
  }
  .el-dialog__footer {
    //padding: 10px 20px !important;
  }
  .mb8 {
    /*background-color: #E0F4FF;*/
    height: 0px;
    /*width: 100%;*/
    /*margin-left: 0px !important;*/
  }

}

//列表高度调整
.el-table .cell{
  line-height: 18px;
  font-size: 12px;
}
//表格数据边距位移
.el-table--mini th, .el-table--mini td {
  padding: 3px 0 ;
}

.el-table th, .el-table td {
  padding: 3px 0 ;
}

.el-table--mini .el-table__cell{
  padding: 3px 0;
}
